{% extends 'base.html' %} {% block content %}

<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<div class="jumbotron" style="width: 1000px">
  <div class="sidenav">
    <div class="login-main-text">
      <h2>
        Application<br />
        Login Page
      </h2>
      <p>Login or register from here to access.</p>
    </div>
  </div>
  <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
        <form>
          <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" placeholder="User Name" />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
            />
          </div>

          <div class="navbar-nav">
            <a class="btn btn-outline-info my-2 my-sm-0" href="/" tabindex="-1"
              >Login</a
            >
          </div>
          <div class="navbar-nav">
            <a
              class="btn btn-outline-info my-2 my-sm-0"
              href="{% url 'polls:index' %}"
              tabindex="-1"
              >Create Account</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
